@import 'silicons';

// Basics
@import 'tools/pre';
@import 'typography/embed';

// Define output settings for project
$output: set-output(css, true);
$output: set-output(form, true);
$output: set-output(full, true);

// Output the whole framework
@import 'henris';
@import 'tools/post';
// Theme
@import 'typography/index';
@import 'components/index';
